/*For tablet view*/

@media screen and (min-width:500px) {
    .header {
        height: 80%;
        padding: 12em 0 25em 0;
    }
    .hotel {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5em;
        color: var(--light);
    }
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "search logo inqry" "quot quot quot";
    }
    /*list*/
    .block {
        background-color: aquamarine;
        width: 50%;
        padding: 1em;
        place-items: end;
        display: block;
    }
    .list_logo {
        height: 6%;
        width: 50%;
        text-align: center;
        padding-bottom: 1em;
        display: block;
    }
    .list_title {
        list-style-type: none;
        background-color: black;
        color: aquamarine;
        padding: 0.5em;
        opacity: 0.5;
        display: block;
    }
    .list {
        display: block;
        color: black;
        text-decoration: none;
        font-weight: normal;
        font-size: 0.8rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
        text-align: left;
        list-style-type: none;
        border-bottom: 1px solid lightslategrey;
        box-sizing: border-box;
        display: block;
    }
    .btn {
        padding: 1em;
        display: block;
    }
    .search_button {
        background-color: darkslategray;
        color: white;
        font-weight: normal;
        font-size: 1em;
        text-align: center;
        padding: 0.6em 2.5em;
        margin: 0 1em;
        border-radius: 1em;
        display: block;
    }
    .p_center {
        text-align: center;
        color: darkslategray;
        display: block;
    }
    .inverse_search_button {
        background-color: white;
        color: darkslategray;
        font-weight: bold;
        font-size: 1em;
        text-align: center;
        padding: 0.6em 3em;
        width: auto;
        border-radius: 1em;
        display: block;
    }
    .socialmedia {
        padding: 0.6em 3em;
        height: 50%;
        width: 40%;
        display: block;
    }
}

---
/*For mobile view
    * {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
     :root {
        --dark: black;
        --title: yellow;
        --light: white;
        --offer: blue;
        --price: tomato;
        --hotelbtn: rgb(24, 215, 240);
        --box: skyblue;
        --mid: dimgray;
        --dim: lightgray;
        --headfoot: darkslategrey;
        font-size: 0.8em;
    }
    body {
        background-color: var(--dark);
    }
    .header {
        background-image: url("../img/headerimg.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 60%;
        padding: 0 0 20em 0;
        text-align: center;
    }
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "search logo inqry" "quot quot quot";
    }
    .search {
        grid-area: search;
        text-align: left;
        vertical-align: top;
    }
    .list_logo {
        height: 10%;
        width: 30%;
    }
    .list {
        border-bottom: 1px solid lightslategrey;
        color: white;
        text-decoration: none;
        font-weight: normal;
        font-size: 0.8em;
        padding: 0.5em;
        display: block;
        margin-bottom: 1em;
        text-align: left;
        list-style-type: none;
    }
    .logo {
        grid-area: logo;
        height: 90%;
        width: 90%;
        text-align: center;
    }
    .inqry {
        grid-area: inqry;
        text-align: right;
    }
    .quot {
        grid-area: quot;
        text-align: center;
        color: var(--dark)
    }
    .box {
        padding: 6px 20px;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: var(--box);
        background-repeat: no-repeat;
        opacity: 0.8;
        justify-self: end;
    }
    .box_icon {
        height: 5%;
        width: 5%;
    }
    .basicbox {
        padding: 6px 20px;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: var(--light);
        background-repeat: no-repeat;
        font-size: 1em;
        line-height: 20%;
        margin: 1em 0;
    }
    .place {
        padding: 1em 0 1em 0;
        grid-gap: 1em;
        width: 80%;
    }
    .date {
        padding: 1em 0 1em 0;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
    .room {
        grid-template-columns: 1fr;
        grid-gap: 1em;
        width: 80%;
    }
    .search_button {
        padding: 1em 0 1em 0;
        grid-template-columns: 1fr;
        grid-gap: 1em;
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        font-size: 1rem;
        color: var(--light);
        padding: 0.7em;
        background-color: var(--dark);
        border-color: var(--light);
        width: 55%;
        text-align: center;
    }
    .hotel {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: "type type" "hotl desc" ". ." "best best"
        /* "type2 type2"
                            ". ."
                            ". ."
                            "cheap cheap"
                            "type3 type3"
                            ". ."
                            ". ."
                            "5star 5star"
                            "type4 type4"*/

;
grid-gap: 0.5em;
padding-top: 0.5em;
color: var(--light);

}
.hotlimg {
    grid-area: hotl;
}
.hotelnm {
    color: var(--title);
}
.price {
    color: var(--price);
    padding-left: 2em;
}
.desc {
    grid-area: desc;
}
.comment {
    color: var(--offer);
}
.rating {
    padding: 0.5em 0 0 1.5em;
    height: 20%;
    width: 40%;
    text-align: right;
}
.cmt {
    color: var(--dim);
}
.type {
    grid-area: type;
    background-color: var(--headfoot);
    color: var(--light);
    width: auto;
}
.findbest {
    grid-area: best;
    color: var(--lidarkght);
    background-color: var(--hotelbtn);
    padding: 1em;
    width: 100%;
}

/*.type2{
        grid-area: type2;
        background-color: springgreen;
        color:var(--dark);
    }
    .findcheap{
        grid-area:cheap;
        color:var(--lidarkght);
        background-color: var(--hotelbtn);
        padding:1em;
        width:100%;
    }
    .type3{
        grid-area: type3;
        background-color: springgreen;
        color:var(--dark);
    }
    .find5star{
        grid-area:5star;
        color:var(--lidarkght);
        background-color: var(--hotelbtn);
        padding:1em;
        width:100%;
    }
    .type4{
        grid-area: type4;
        background-color: springgreen;
        color:var(--dark);
    }
    .find4star{
        grid-area:4star;
        color:var(--lidarkght);
        background-color: var(--hotelbtn);
        padding:1em;
        width:100%;
    }
    */
li {
    list-style-type: none;
    justify-self: start;
}
.discover_head {
    background-color: var(--mid);
    color: var(--dark);
    padding: 0.5em;
}
.discover {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--offer);
    background-color: var(--dim);
    padding: 0.5em 0 0 2em;
    text-align: left;
    text-decoration: none;
    font-size: 1em;
}
.discover_hotel {
    color: var(--dark);
    background-color: var(--dim);
    padding: 0.3em 7em 0 0;
    text-align: center;
    text-decoration: none;
}
.footer {
    grid-template-columns: 1fr;
    background-color: var(--headfoot);
    color: var(--light);
    padding: 1em;
}
.email {
    width: 75%;
}
.pagelike {
    width: 100%;
}
.btn {
    padding: 0.5em 1.5em;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--mid);
    color: var(--light);
}
.nav {
    text-decoration: none;
    color: var(--light);
}
.copyright {
    text-align: center;
    font-size: 0.7em;
    padding: 3em 0 1em 0;
}
*/